<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mark.markcalendar">

    <!--  VIBRATE用-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Admodのために追加 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".CommonData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_application"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_application_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".MarkStatisticsActivity"
            android:exported="true" />
        <activity
            android:name=".MarkEntryActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".MarkListActivity"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

    </application>

</manifest>